.card {
  display: inline-block;
  width: 200px;
  height: 408px;
  border-radius: var(--main-border-radius);
  border: 1px solid #f3f3f3;
  background-color: white;
  box-sizing: border-box;
  padding: var(--main-card-padding);

  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.card__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__img {
  display: block;
  width: 160px;
  height: 134px;
  padding-top: 16px;
}

.card__main-title {
  color: var(--main-text-color);
  font-weight: var(--main-weight);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  margin: 40px 0 0;
}

.card__second-title {
  color: var(--second-text-color);
  font-weight: var(--small-weight);
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0;
  margin: 4px 0 0;
}

.card__rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}

.card__review {
  color: var(--main-text-color);
  font-weight: var(--small-weight);
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0;
  margin: 0;
}

.card__price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 24px;
}

.card__label {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  color: var(--second-text-color);
  font-weight: var(--small-weight);
}

.card__number {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0;
  color: var(--main-text-color);
  font-weight: var(--big-weight);
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #00acdc;
  box-sizing: border-box;
  border: 1px solid #00acdc;
  border-radius: var(--main-border-radius);
  font-size: 14px;
  line-height: 16px;
  font-weight: var(--big-weight);
  text-align: center;
  height: 40px;
  width: 100%;
  margin-top: 16px;
}

.card__button:hover {
  background-color: #fff;
  color: #00acdc;
}
