$main-text-color: #060b35;
$second-text-color: #616070;
$big-weight: 700;
$main-weight: 500;
$small-weight: 400;
$main-border-radius: 5px;
$main-card-padding: 16px;
$main-card-color: #fff;
$border-color: #f3f3f3;
$button-color: #00acdc;
$stars-margin: 4px;
